a {
	color: rgba(0, 0, 0, 0.54);
}
ul {
	padding: 0;
}
ul li a {
	font-weight: 500;
	/* font-size: 0.875rem; */
	font-size: 15px;
	text-decoration: none;
	padding: 18px 0;
	display: inline-block;
}
.active {
	border-bottom: 2px solid rgba(63, 81, 181);
	color: rgba(63, 81, 181);
}

/* Ripple effect */
/* .ripple {
	background-position: center;
	transition: background 0.8s;
}
.ripple:hover {
	background: #fff radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
} */
